:root {
  --header-height:5rem;
  --mb-2: 1rem;
}

/* LAYOUT CSS */
*, ::before, ::after {
  box-sizing: border-box;
}

.App {
  height: 100%;
  background-color: #efefef;
  font-family: "Inter Tight", sans-serif; 
}

/* Header */
header {
  display: block;
  
}

.m-screen {
  max-width: 1280px;
  margin: auto;
}

.sub-header {
  width: 100%;
  position: fixed;
 }

 .l-home {
   width: 100%;
 }

div {
  display: block;
}

p {
  margin:0;
  font-size: large;
  color: #6b7280;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: large;
}

li:hover {
  color: #4f46e5;
}

/* Home */
/* .flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column.left {
  flex-basis: 50%;
}

.column.right {
  flex-basis: 50%;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive CSS */
/* Tablet or IPad Screen */
@media screen and (max-width: 1023px) {
  .m-screen{
    max-width: 768px;
    margin: auto;
  }
}



