
* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100%;
  display: block;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Header */
header {
  display: block;
}

.m-screen {
  max-width: 1024px;
  margin: auto;
}

.sub-header {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
 }

 .l-home {
   width: 100%;
 }

div {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  font-size: large;
}

li:hover {
  color: #4f46e5;
}

/* Home */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



